<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>660846809851-nlovolg8jqhp7igm6svnu1matm0tngbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660846809851-nlovolg8jqhp7igm6svnu1matm0tngbl</string>
	<key>API_KEY</key>
	<string>AIzaSyAvYiBloNxNBPmQBuZ2NDg3q89m1WzQvjs</string>
	<key>GCM_SENDER_ID</key>
	<string>660846809851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ldbach.Messaging</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-47b52</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-47b52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660846809851:ios:42261ef44a6b58e3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-47b52.firebaseio.com</string>
</dict>
</plist>